Codebase/UI/node_modules
Codebase/UI/src/**/*.js
Codebase/UI/src/**/*.js.map
Codebase/UI/dist
Codebase/UI/typings
Codebase/TempServer/node_modules
Codebase/TempServer2
Codebase/Collaboration/node_modules
Codebase/Java/Integration-Platform/**
**/*.classpath
**/*.DS_Store
Codebase/Java/.metadata/**
**/.settings/**
**/.metadata/**
**/.recommenders/**
**/target/**
/target
target/*
*.project
*.class
**.class
*.index
/.metadata/
